@import 'mixins';

.single-line {
  @extend %clearfix;
  display: block;
  clear: both;
}

.article-thumbnail {
  @extend %clearfix;
  margin-bottom: 1em;

  &:first-child {
    margin-top: 1.75em;
  }
}

.link-combined {
  img {
    float: left;
    margin-right: 1em;
  }
  span {
    float: left;
  }
}
