@import 'variables';

.footer-content {
  background: $medium-bg-color;
  min-height: 40px;
  width: 100%;
}

.footer-icon-container {
  text-align: center;
  width: 100%;

  .icon {
    display: inline-block;
  }
}