
.display-inline {
  @extend %clearfix;
  display: inline-block;
  padding: 0.5em 1em;

  span {
    float: left;
  }

  a {
    text-indent: 10px;
    display: inline-block;
    clear: both;
    float: left;
    text-decoration: none;

    &:before {
      content: '•';
    }
  }

  @media #{$breakpoint-mobile} {
    padding: 0;
  }
}

.inline-right {
  float: right;
}

