@import 'variables';
@import 'mixins';


.mobile-nav {
  @extend %clearfix;
  background: $nav-bg-color;
  padding: 10px 0px;
}


.mobile-nav-list {
  list-style-type: none;

  li {
    width: (100% / 6);
    float: left;
    text-align: center;

    a {
      font-size: 1.3em;
    }
  }
}

.mobile-nav-toggle {
  padding: 5px 10px;
  display: none;
}



@media #{$breakpoint-mobile} {
  .mobile-nav {
    text-align: center;
    background: none;

    &:hover {
      .mobile-nav-list {
        display: block;
      }
    }
  }

  .mobile-nav-list {
    display: none;

    li {
      width: 100%;
      background: $lightest-bg-color;
      margin: 5px 0px;
      padding: 5px 0px;
    }
  }

  .mobile-nav-toggle {
    display: inline-block;
    background: $nav-bg-color;
  }
}