@import 'variables';


/* This is an image placeholder that will keep it's ratio */

.img-wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
  margin: 15px 0px;

  &:after {
    padding-top: 100%;
    /* 1:1 ratio */
    display: block;
    content: '';
  }

  &.four-three {
    &:after {
      padding-top: 75%;
      /* 4:3 ratio */
    }
  }

}

.img-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $dark-bg-color;
  font-size: 5em;
  color: $contrast-font-color;
  text-align: center;
  line-height: 100%;

  span {
    position: relative;
    top: 1em;
  }
}