@import 'variables';

/* define global styles */

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px; /* base font size */
  color: $base-font-color;
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: $base-font-color;
}

article {
  p {
    margin-bottom: 1em;
  }
}