$grid-columns: 12;
$grid-max-width: 65em;


$breakpoint-desktop: "screen and (min-width: 768px)";
$breakpoint-mobile: "screen and (max-width: 768px)";


$nav-bg-color: #cacaca;
$contrast-font-color: #ffffff;
$dark-bg-color: #2e2e2e;
$medium-bg-color: #cccccc;
$lightest-bg-color: #f8f8f8;

$base-font-color: #2e2e2e;
